<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0D74C5D1DC0888B0029F30B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0D74C761DC0888C0029F30B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0D74C811DC0888C0029F30B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
